.App {
  text-align: center;
}

.App-header {
 
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  margin: auto;
  position: inherit;
  width: 1000px;
  margin-top: 100px;
  font-size: 20pt;
}

.selector-label {
  display: inline-block;
  padding-right: 20px;
}

.stop-display {
  margin: auto;
  margin-top: 20px;
  display: block;
  text-align: left;
}

.stop-display li {
  padding: 5px;
}

.stop-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.app-row {
  margin-bottom: 20px;
}